asset-download
/client/.github


ducth@DucPC MINGW64 ~/Downloads
java -Djava.library.path=./DynamoDBLocal_lib -jar DynamoDBLocal.jar -sharedDb -dbPath C:/Users/ducth/git_repos/rampyg/backup
/server/node_modules